/*div {
	color: white;
	font-family: Arial;
	background-color: orange;
	width: 50%;
	height: 400px;
	font-style: italic;
	text-align: center;

}

.blue-block{
	color: red;
	font-family: "Times New Roman";
	font-weight: bold;
	background-color: black;
	width: 50%;
	height: 400px;
	text-align: center;
}

.special{
	background-color: orange;
	height: 200px;
	width: 20%;
	float: right;
}*/

img{
	float: left;
}

.clear{
	clear: both;
}